*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 24px;
}
.paragraph{
    text-align: center;
    font-size:20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
    color:white;
    
}